<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ma boutique AngularJs</title>

    <!-- Latest compiled and minified CSS & JS -->
    <link rel="stylesheet" media="screen" href="//netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="//code.jquery.com/jquery.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>

<body ng-app="app" ng-init="title='ngstore'; name='Alexandre'; age=25">
    <div id="main">
        <div id="navbar">
            <nav class="navbar navbar-default" role="navigation">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Mon Application {{ title }} </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Link</a></li>
                        <li><a href="#">Link</a></li>
                    </ul>
                    <form class="navbar-form navbar-left" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search">
                        </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">Link</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b
                                    class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </nav>
        </div> <!-- fin navbar-->
        <div id="wrapper">
            <h1>Bonjour {{ name }}</h1>
            <h2>Vous aurez => {{ age + 10 }} ans dans 10 ans</h2>
            <hr />
            <h1>Liste Produits</h1>
            <div class="Produits" ng-controller="produitsCtrl as prods">
                <!--{{ prods | json }}-->
                <ul class="list-group-item" ng-repeat="monprod in prods.produits"  >
                    <li class="list-group-item list-group-item-success " >
                        {{ monprod.id }} |  {{ monprod.nom }} |  {{ monprod.description }} |  {{ monprod.prix }} |  {{ monprod.stock }} 
                    </li>
                </ul>
                
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Nom</th>
                                <th>Description</th>
                                <th>Prix</th>
                                <th>Stock</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="monprod in prods.produits">
                                <td> {{ monprod.id }} </td>
                                <td> {{ monprod.nom }} </td>
                                <td> {{ monprod.description }}  </td>
                                <td> {{ monprod.prix }} </td>
                                <td> {{ monprod.stock }} </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                
                
            </div>
            <div class="produit" ng-controller="produitCtrl as prod">
                <h1>{{ prod.nom }}</h1>
                <div class="col-lg-6">
                    <img ng-src="{{ prod.img }}" alt="" />
                </div>
                <div class="col-lg-2">
                    {{ prod.description }} <br />
                    prix : {{ prod.prix }} <br />
                    <br />
                    <button type="button" class="btn btn-success">Ajouter au panier</button>

                </div>
            </div>
        </div> <!-- fin wrapper-->
    </div>
</body>

<script src="./node_modules/angular/angular.js"></script>
<script src="app/app.js"></script>
<script src="app/produitCtrl/produitCtrl.js"></script>
<script src="app/produitsCtrl/produitsCtrl.js"></script>

</html>