<div class="" >
    <form  ng-submit="onSubmitForm()" ng-show="!prod.isEmpty.empty">
        <legend>Ajouter un produit</legend>
     
        <div class="form-group" style="width: 200px; padding: 15px;">

            <label for="prod_id">Id</label> </br>
            <input type="text" class="form-control" id="" placeholder="ID produit" disabled value="{{ prod.produit.id }}"/> </br>

            <label for="prod_nom">Nom</label></br> 
            <input type="text" class="form-control" id="" placeholder="Nom produit" ng-model="prod.produit.nom"/></br>

            <label for="prod_prix">Prix</label></br> 
            <input type="number" class="form-control" id="" placeholder="Prix €" min="0" step="0.01"  ng-model="prod.produit.prix"/></br>

            <label for="prod_stock">Stock</label></br> 
            <input type="number" class="form-control" id="" placeholder="Stock" min="0" ng-model="prod.produit.stock" /></br>

            <textarea name="prod_desc" id="prod_desc" cols="30" rows="10" ng-model="prod.produit.description" ></textarea>

            <label for="prod_categorie">Categorie</label></br>
            <select name="prod_categorie" id="prod_categorie" ng-controller="categoriesCtrl as cat"  ng-model="prod.produit.categorieId">
                <option ng-repeat="categorie in cat.categories" ng-value="{{ categorie.id }}"> 
                    {{ categorie.nom }}
                </option>
            </select>

            <!-- <img src="{{ prod.img }}" /> -->
        </div>
        <button type="submit" class="btn btn-primary" style="margin: 15px;">Submit</button>
        <button type="reset" class="btn btn-warning" style="margin: 15px;" (click)="OnResetForm()">Reset</button>
    </form>
     <!--{{ prod | json }}-->
</div>